@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="text-center mt-5"> @* Esta página aparece no caso de o utilizador tentar entrar numa página à qual não tem acesso *@
    <h1 class="text-danger">⚠️ Acesso Negado</h1>
    <p>Não tem permissões para aceder a esta página.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Voltar à Homepage</a>
</div>
