@model ProjetoPCRH.Models.Relatorio

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Relatorio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RelatorioId" /> @*Relatório Id*@
            <div class="form-group">
                <label asp-for="DataRelatorio" class="control-label"></label>
                <input asp-for="DataRelatorio" class="form-control" />
                <span asp-validation-for="DataRelatorio" class="text-danger"></span>
            </div> @*Data do Relatório*@
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div> @*Valor*@
            <div class="form-group">
                <label asp-for="TempoTotalHoras" class="control-label"></label>
                <input asp-for="TempoTotalHoras" class="form-control" />
                <span asp-validation-for="TempoTotalHoras" class="text-danger"></span>
            </div> @*Tempo total de Horas*@
            <div class="form-group">
                <label asp-for="ProjetoId" class="control-label"></label>
                <select asp-for="ProjetoId" class="form-control" asp-items="ViewBag.ProjetoId"></select>
                <span asp-validation-for="ProjetoId" class="text-danger"></span>
            </div>
            <div class="form-group"> @*Botões*@
                <input type="submit" value="Validar" class="btn btn-success" /> | 
                <a asp-action="Index" class="btn btn-primary">Voltar à lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
