@model ProjetoPCRH.Models.Relatorio

@{
    ViewData["Title"] = "Terminar Projeto";
    var projeto = ViewBag.Projeto as ProjetoPCRH.Models.Projeto;
}

<h2>Terminar Projeto</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjetoId" 
                value="@projeto.ProjetoId"/>
                @*Id do Projeto*@
            <div class="form-group">
                <label asp-for="DataRelatorio" class="control-label"></label>
                <input asp-for="DataRelatorio" class="form-control" />
                <span asp-validation-for="DataRelatorio" class="text-danger"></span>
                @*Data do Relatório*@
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
                @*Valor*@
            </div>
            <div class="form-group">
                <label asp-for="TempoTotalHoras" class="control-label"></label>
                <input asp-for="TempoTotalHoras" class="form-control" />
                <span asp-validation-for="TempoTotalHoras" class="text-danger"></span>
                @*Tempo total de Horas*@
            </div>
            <div class="form-group">
                <br />
                @*Botões*@
                <input type="submit" value="Validar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar à lista de relatórios</a> |
				<a asp-controller="Projetos" asp-action="Index" class="btn btn-secondary">Voltar à lista de projetos</a>

            </div>
        </form>
    </div>
</div>

