@{
    ViewData["Title"] = "ISIJ PROJETOES";
}

<style>
    body {
        background-image: url('https://media.treasy.com.br/media/2018/10/Jogos-empresariais-2.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }

    .pagina-central {
        display: flex;
        flex-direction: column;
        justify-content: center; /* centro vertical */
        align-items: center;     /* centro horizontal */
        min-height: calc(100vh - 56px);
        text-align: center;
    }

    .conteudo {
        color: black;
    }

    .footer-central {
        margin-top: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        font-size: 14px;
        border-radius: 8px;
    }
</style>

<div class="pagina-central">
    <div class="conteudo">
        <h1 class="display-4" style="font-weight: bold; text-shadow: 2px 5px 4px rgba(0,0,0,0.7);">
            Bem-vindo
        </h1>
    </div>

    <div class="footer-central">
        Projeto criado por Izabel Forte, Stephane Ferreira, Ivo Teixeira e João Paz.
    </div>
</div>




