@model ProjetoPCRH.Models.ViewModels.UtilizadorCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Utilizador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Utilizador.UtilizadorId" />
            <div class="form-group">
                <input type="hidden" asp-for="Utilizador.UtilizadorId" />
                <label asp-for="Utilizador.Username" class="control-label"></label>
                <input asp-for="Utilizador.Username" class="form-control" />
                <span asp-validation-for="Utilizador.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Utilizador.Password" class="control-label"></label>
                <input asp-for="Utilizador.Password" class="form-control" />
                <span asp-validation-for="Utilizador.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Utilizador.Tipo" class="control-label"></label>
                <input asp-for="Utilizador.Tipo" class="form-control" />
                <span asp-validation-for="Utilizador.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
