@model Faturacao
<form method="post">
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="FaturaId"></label>
            <input asp-for="FaturaId" class="form-control" />
            <span asp-validation-for="FaturaId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Contrato.ContratoId"></label>
            <input asp-for="Contrato.ContratoId" class="form-control" />
            <span asp-validation-for="Contrato.ContratoId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DataFatura"></label>
            <input asp-for="DataFatura" class="form-control" />
            <span asp-validation-for="DataFatura" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Valor">></label>
            <input asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6"><button type="submit" class="btn btn-primary">Create</button></div>
            <div class="col-6 text-end"><a asp-controller="Home" asp-action="Index" class=" btn btn-secondary">Back to List</a></div>
        </div>


    </div>
</form>