@model ProjetoPCRH.Models.Faturacao

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Faturacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FaturaId" />
            <div class="form-group">@*FaturaID*@
                <label asp-for="DataFatura" class="control-label"></label>
                <input asp-for="DataFatura" class="form-control" />
                <span asp-validation-for="DataFatura" class="text-danger"></span>
            </div>
            <div class="form-group">@*Data Fatura*@
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">@*Contrato ID*@
                <label asp-for="ContratoId" class="control-label"></label>
                <select asp-for="ContratoId" class="form-control" asp-items="ViewBag.ContratoId"></select>
                <span asp-validation-for="ContratoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br /> @*Botões*@
                <input type="submit" value="Validar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar à lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
