@model Relatorio
<form method="post">
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="RelatorioId"></label>
            <input asp-for="RelatorioId" class="form-control" />
            <span asp-validation-for="RelatorioId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DataRelatorio"></label>
            <input asp-for="DataRelatorio" class="form-control" />
            <span asp-validation-for="DataRelatorio" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Valor"></label>
            <input asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="TempoTotalHoras">></label>
            <input asp-for="TempoTotalHoras" class="form-control" />
            <span asp-validation-for="TempoTotalHoras" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Projeto.NomeProjeto"></label>
            <input asp-for="Projeto.NomeProjeto" class="form-control" />
            <span asp-validation-for="Projeto.NomeProjeto" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6"><button type="submit" class="btn btn-primary">Create</button></div>
            <div class="col-6 text-end"><a asp-controller="Home" asp-action="Index" class=" btn btn-secondary">Back to List</a></div>
        </div>
    </div>
</form>