@model ProjetoPCRH.Models.Funcionario

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FuncionarioId" />
            <div class="form-group">@*Funcionario ID*@
                <label asp-for="NomeFuncionario" class="control-label"></label>
                <input asp-for="NomeFuncionario" class="form-control" />
                <span asp-validation-for="NomeFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">@*NIF*@
                <label asp-for="Nif" class="control-label"></label>
                <input asp-for="Nif" class="form-control" />
                <span asp-validation-for="Nif" class="text-danger"></span>
            </div>
            <div class="form-group">@*Cargo*@
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group"> @*Email*@
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">@*Data de Admissão*@
                <label asp-for="DataAdmissao" class="control-label"></label>
                <input asp-for="DataAdmissao" class="form-control" />
                <span asp-validation-for="DataAdmissao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" id="chkAtivo" />
                    @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <br /> @*Botões*@
                <input type="submit" value="Editar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar à lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("chkAtivo").addEventListener("change", function (e) {
            if (!this.checked) { // só quando desmarca
                var funcionarioId = @Model.FuncionarioId;

                fetch('/Funcionarios/VerificarProjetosEmAndamento?id=' + funcionarioId)
                    .then(response => response.json())
                    .then(data => {
                        if (data.temProjetos) {
                            alert("Este funcionário está em projetos em andamento e não pode ser desativado!");
                            this.checked = true; // volta a marcar
                        }
                    });
            }
        });
    </script>

}
